# Tools of Data Science

_Summary of Data Science Tools_

**Data Science Languages are as followed:** 
- Python
- SQL
- R
- Java
- C++
- Julia
- Java Script

**List of Data Science Libraries are as followed**
- Numpy
- Scipy
- Pandas
- Matplotlib
- Tensorflow
- Keras
- SciKit-Learn

| Data Management Tools | Data Integration & Transformation Tools | Data Visualization Tools |
| -----------------------|-----------------------------------------|--------------------------|
| MySQL | ApacheAirflow | Pixie Dust |
| Mongo DB | Kubeflow | kibana |
| Cassandra | Kafka | Superset |

**The followings are examples of arithmetic expression**
- 5 = a number is the example of arithmetic expression
- 5+2 = the sum of numbers is the example of arithmetic expression 
- 5-2 = the difference is the example of arithmetic expression

In [2]:
x = 5
y = 7
z = x + y 
a = x * y 
print (z)
print (a)

12
35

In [5]:
M = 3600
H = M/60
print (H)

60.0

**Learning Objectives**
- In order to know more about data science programming languages
- In order to know how to use and be familiar with Anaconda and Jupyter Notebook 
- In order to know more about data science libraries and tools

## Author ##
Thuta Zaw